fiona==1.10.1
geopandas==1.0.1
numpy==1.24.2
openmeteo_requests==1.7.4
pandas==2.3.3
pyproj==3.7.2
pyshp==3.0.3
requests_cache==1.2.1
retry_requests==2.0.0
scipy==1.16.3
Shapely==2.1.2
SQLAlchemy==2.0.45
